#LLM and Embedding
GROQ_API_KEY=your_groq_api_key
COHERE_API_KEY=your_cohere_api_key

# Database (Neon Postgres)
DATABASE_URL=postgresql://user:password@your-neon-host/dbname?sslmode=require

# Redis / Celery (Layerbase)
CELERY_BROKER_URL=rediss://default:password@your-layerbase-host:port
CELERY_RESULT_BACKEND=rediss://default:password@your-layerbase-host:port


# Auth
JWT_SECRET=generate-with-openssl-rand-hex-32
EXPIRE_TIME=24   # in hours
ALGORITHM=HS256

# Supabase Storage
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-service-role-key
SUPABASE_BUCKET=documents